.content {
    margin: 0 auto;
    width: 100%;
}

.form {
    display: grid;
    grid-template-rows: 50px 30px 50px 30px 50px 30px 50px 30px 50px;
    grid-template-columns: 500px;
    margin: 0 auto;
    width: 500px;
}

.form__title {
    margin: 70px 0 30px 0;
    display: flex;
    justify-content: center;
}

.form__input-name {
    grid-row: 1/2;
    grid-column: 1/1;
}

.form__message-error-name {
    grid-row: 2/3;
    grid-column: 1/1;
}

.form__input-email {
    grid-row: 3/4;
    grid-column: 1/1;
}

.form__message-error-email {
    grid-row: 4/5;
    grid-column: 1/1;
}

.form__input-password {
    grid-row: 5/6;
    grid-column: 1/1;
}

.form__message-error-password {
    grid-row: 6/7;
    grid-column: 1/1;
}

.form__input-password_confirmation {
    grid-row: 7/8;
    grid-column: 1/1;
}

.form__message-error-password_confirmation {
    grid-row: 8/9;
    grid-column: 1/1;
}

.form__input {
    width: 100%;
    padding: 10px;
    border: 2px solid #aaa;
    border-radius: 10px;
    margin-bottom: 30px;
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 9/10;
    grid-column: 1/1;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #003bda;
}

.form__button-submit {
    width: 100%;
    color: #fff;
}

.form__message-error {
    font-size: 14px;
    color: #dd0033;
}

.bottom-message__txt {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.bottom-message__link {
    display: flex;
    justify-content: center;
}
